<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Event Administration</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Event Administration</h1>
        <h2>Events</h2>
        <ul class="events">
            <li>list item</li>
            <% events.forEach( el => { %>
                <li class="events" data-id='<%=el._id%>'>
                    <a href="/admin/event/<%= el._id %>"><span class='view fas fa-eye'></span></a>
                    <span class='id'><%= el._id %></span>
                    <span class='eventid'><%= el.eventid %></span>
                    <span class='eventcode'><%= el.eventcode %></span>
                    <span class='eventname'><%= el.eventname %></span>
                    <span class='eventstartdate'><%= el.eventstartdate %></span>
                    <span class='eventenddate'><%= el.eventenddate %></span>
                    <span class='eventtype'><%= el.eventtype %></span>
                    <span class='eventvenue'><%= el.eventvenue %></span>
                    <span class='eventcity'><%= el.eventcity %></span>
                    <span class='eventstate'><%= el.eventstate %></span>
                    <span class='eventcountry'><%= el.eventcountry %></span>
                    <span class='availablepostevent'><%= el.availablepostevent %></span>
                    <span class='delete fas fa-trash'></span>
                </li>
            <% }) %>
            </ul>
            <h2>Add an Event:</h2>
            
            <form action="/createEvent" method="POST">
            <label for="eventcode">eventcode:</label>
            <input type="text" placeholder="eventcode" name="eventcode" value="pack0921" autofocus="autofocus"><br>
            <label for="eventname">eventname:</label>
            <input type="text" placeholder="eventname" name="eventname" value="International Packaging Expo 2021">
            <label for="eventstartdate">eventstartdate:</label>
            <input type="text" placeholder="YYYY-mm-ddTHH:MM:ss" name="eventstartdate" value="2021-09-01T00:00:01">
            <label for="eventenddate">eventenddate:</label>
            <input type="text" placeholder="YYYY-mm-ddTHH:MM:ss" name="eventenddate" value="2021-09-28T00:00:01">
            <label for="eventtype">eventtype:</label>
            <select name="eventtype">
                <option value="onsite" selected>onsite</option>
                <option value="virtual">virtual</option>
                <option value="hybrid">hybrid</option>
            </select>
            <label for="eventvenue">eventvenue:</label>
            <input type="text" placeholder="eventvenue" name="eventvenue" value="Las Vegas Convention Center">
            <label for="eventcity">eventcity:</label>
            <input type="text" placeholder="eventcity" name="eventcity" value="Las Vegas">
            <label for="eventstate">eventstate:</label>
            <input type="text" placeholder="eventstate" name="eventstate" value="NV">
            <label for="eventcountry">eventcountry:</label>
            <input type="text" placeholder="eventcountry" name="eventcountry" value="United States">
            <label for="availablepostevent">availablepostevent:</label>
            <input type="text" placeholder="availablepostevent" name="availablepostevent" value="false">
            <br>
            <input type="submit">
        </form>

        <script src="/js/main.js" async defer></script>
    </body>
</html>